<h3 style="text-align: center" class="jumbotron">Sales History</h3>
<div style="text-align:center; opacity:0.3" *ngIf="!salesExist">
  <h3>You have not made any sales yet!!!</h3>
</div>

<div *ngIf="salesExist">
<table class="table table-striped">
    <thead>
          <td>
            <b>S/N</b>
          </td>
          <td>
            <b>Name</b>
          </td>
          <td>
            <b>Price</b>
          </td>
          <td>
            <b>Date</b>
          </td>
    </thead>
    <tr *ngFor="let sale of sales; index as i">
      <b><td>{{i+1}}</td></b>
      <td>{{sale.name}}</td>
      <td>₦{{sale.sellPrice}}</td>
      <td>{{sale.time}}</td>
      <td (click)="deleteProduct(product)"><i class="fa fa-settings"></i></td>
    </tr>
  </table>

  <button mat-stroked-button style="margin-bottom:10px">Clear Sales Log</button>
  </div>

  <div class="loader" *ngIf="loading"></div>
